# Understand the "Data ES" dataset and extract data from the department code "13".
https://equipements.sports.gouv.fr/explore/dataset/data-es/table/

In [1]:
import json
import pandas as pd

Load data

In [2]:
df = pd.read_json("data-es.json")
df.head()

,equip_numero,inst_numero,inst_enqu_date,inst_nom,inst_siret,inst_adresse,inst_cp,new_name,new_code,inst_part_type_filter,...,equip_pshs_trib,equip_pshs_vest,equip_x,equip_y,inst_part_type,aps_name,equip_qpv,equip_qpv_200m,categorie,gen_2024fin_labellisation
0,E002I340880002,I340880002,2025-03-31,LES ECURIES DU CRES,None,CHEMIN DE L ANCIENNE GARE,34660.0,Cournonterral,34088,None,...,false,false,43.539360,3.734430,None,[Saut d'obstacle],None,None,None,None
1,E002I341010005,I341010005,2025-03-31,Courts de Tennis,None,1 chemin des usines,34510.0,Florensac,34101,None,...,false,false,43.386490,3.472680,None,[Tennis],None,None,None,None
2,E002I341110002,I341110002,2025-03-31,Kaly Club,None,ruelle Mazet,34190.0,Ganges,34111,None,...,false,false,43.934840,3.711830,None,"[Activités de forme et de santé, Musculation]",None,None,None,None
3,E002I341160015,I341160015,2025-03-31,Tennis Club ASH,None,Route de Ganges Rue de la Valsière Domaine Dam...,34790.0,Grabels,34116,None,...,false,false,43.654950,3.829480,None,[Tennis],None,None,None,None
4,E002I341180006,I341180006,2025-03-31,City stade,None,Chemin de la carlerasse,34820.0,Guzargues,34118,None,...,false,false,43.725839,3.924939,None,"[Basket-Ball, Football / Football en salle (Fu...",None,None,proximité,None

In [3]:
df.new_code

0         34088
1         34101
2         34111
3         34116
4         34118
          ...
333102    13117
333103    13117
333104    13118
333105    13118
333106    13119
Name: new_code, Length: 333107, dtype: object

### 1. Select only interesting columns

In [4]:
df_filtered = df[['equip_coordonnees', 'inst_numero', 'inst_nom', 'equip_type_name', 'equip_type_famille', 'aps_name', 'equip_acc_libre', 'equip_url', 'inst_adresse', 'new_code', 'equip_prop_nom', 'equip_gest_type', 'inst_acc_handi_bool']]
df.shape, df_filtered.shape

((333107, 113), (333107, 13))

### 2. We only need line who contain valid location and valid department code

In [5]:
df_filtered = df_filtered.dropna(subset=["equip_coordonnees", "new_code"])
df.shape, df_filtered.shape

((333107, 113), (328103, 13))

### 3. "Bouches-du-Rhône" data "13"

In [6]:
df_filtered = df_filtered[df_filtered['new_code'].str.startswith("13")]
df.shape, df_filtered.shape

((333107, 113), (5825, 13))

export data

In [7]:
df_filtered.to_csv('filtered-data-es.csv')